<div class="m-auto col-8">
    <div class="">
        <div class="d-flex">
            <div class="form-group col-6 m-auto">
                <h2 class="display-5 titulo m-auto">Editar Usuário</h2>
            </div>
            <div class="p-2">
                
            </div>
        </div>
        {{>_msg}}
        <hr>
        <form>

            <div class="col-6 m-auto">
                <input {{#if usuario.perfilSolicitante}} checked {{/if}} class="form-check-input" type="checkbox" id="perfilSolicitante" name="perfilSolicitante">
                <label for="perfilSolicitante">Solicitante</label>
            </div>

            <div class="col-6 m-auto">
                <input {{#if usuario.perfilEntregador}} checked {{/if}} class="form-check-input" type="checkbox" id="perfilEntregador" name="perfilEntregador">
                <label for="perfilEntregador">Entregador</label>
            </div>

            <div class="col-6 m-auto">
                <input {{#if usuario.perfilAdmin}} checked {{/if}} class="form-check-input" type="checkbox" id="perfilAdmin" name="perfilAdmin">
                <label for="perfilAdmin">Administrador</label>
            </div>

            <input type="hidden" id="hiddenId" value="{{usuario.id}}">
            <div class="form-row m-auto">
                <div class="form-group col-6 m-auto">
                    <label><span class="text-danger">*</span> Nome</label>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Nome completo"
                        value="{{usuario.name}}" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-6 m-auto">
                    <label><span class="text-danger">*</span> E-mail</label>
                    <input name="email" type="email" class="form-control" id="email" placeholder="E-mail"
                        value="{{usuario.email}}" required>
                        <button id="form1" type="button"
                        class="btn btn-lg btn-warning btn-block mt-3 m-auto">Salvar</button>
                </div>
            </div>
 
        </form>
    </div>
</div>

<script>

    try {
        let form1 = document.querySelector('#form1')
        form1.addEventListener('click', async () => {
            let name = document.querySelector('#name').value
            let email = document.querySelector('#email').value
            let hiddenId = document.querySelector('#hiddenId').value
            let perfilSolicitante = document.querySelector('#perfilSolicitante').checked
            let perfilEntregador = document.querySelector('#perfilEntregador').checked
            let perfilAdmin = document.querySelector('#perfilAdmin').checked



            const response = await fetch('/editarusuario/'+hiddenId, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                    'Accept': 'application/json'
                },
                body: JSON.stringify({ name, email, hiddenId, perfilEntregador, perfilSolicitante, perfilAdmin })
            })
            if (response.status === 200) {
                return swal("Sucesso !", "Usuário atualizado com sucesso !", "success");
            }

            if (password !== confirmpassword) {
                return swal("Error: !", "  As senhas não conferem tenta novamente !", "error");
            }

            if (response.status === 400) {
                return swal("Error: !", "  O email já está em uso ! !", "error");
            }

            if (response.status === 411) {
                return swal("Error: !", "  Senha muito fraca !", "error");
            }
        })

    } catch (err) {
        console.log(`Erro: ${err}`)
    }

</script>