<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  {{!--
  <script src="/js/bootstrap.bundle.min"></script> --}}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
  <title>Start</title>
</head>

<body>
  {{!-- {{#if user}} --}}
  <ul class="nav justify-content-center cabecalho">

    {{!-- {{#if perfil isequal admin}} --}}
    <li class="nav-item">
      <a class="nav-link" href="/register">Cadastrar Usuário</a>
    </li>
    {{!-- {{/if}} --}}
    <li class="nav-item">
      <a class="nav-link" href="/lista">Lista</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/logout">Sair</a>
    </li>
    {{!-- {{/if}} --}}
  </ul>
  {{{body}}}
</body>

</html>